{% extends 'layout.html' %} {% block title %} {{ resource['name'].title() }} -
Backup Successful {% endblock %} {% block body %}
<div class="content">
  <table align="center">
    <tr>
      <td align="center">
        <img
          class="icon-failure"
          src="https://res.cloudinary.com/olamileke/image/upload/v1660771214/backmeup/assets/email/karlsson-x-sign-1_q9ceeo.png"
        />
      </td>
    </tr>
    <tr>
      <td>
        <div style="margin: {% if key %} 15px 0 {% else %} 10px 0 {% endif %}">
          <p
            style="margin: 0 0 {% if key %} 16px {% else %} 10px {% endif %} 0;"
          >
            Hi {{ user['first_name'] }}. {% if key %} A backup for {{
            resource['name'].capitalize() }} {{ service['name'].capitalize() }})
            was just attempted with an unrecognized API key. {% else %} An
            unauthenticated backup request was just made for {{
            resource['name'].capitalize() }} ({{ service['name'].capitalize()
            }}) {% endif %}
          </p>
          {% if key %}
          <p style="width: 100%; margin: 0 0 16px 0; line-height: 25px">
            {{ key }}
          </p>
          {% endif %}
          <p>{{ timestamp }}</p>
        </div>
      </td>
    </tr>
    <tr>
      <td align="center">
        <button>Manage Your Backups</button>
      </td>
    </tr>
  </table>
</div>

{% endblock %}
